<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
						<i class="glyphicon glyphicon-user"></i>
						 {{ employee.name }}
					 </h3>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-12 ">
						<div class="panel-body">
          		<table class="table table-user-information">
	              <tbody>
	                <tr>
	                  <td><i class="glyphicon glyphicon-user"></i> User Name</td>
	                  <td>{{ employee.username }}</td>
	                </tr>
	                <tr>
	                  <td><i class="glyphicon glyphicon-envelope"></i> Email</td>
	                  <td><a href="mailto:info@support.com">{{ employee.email }}</a></td>
	                </tr>
	                <tr>
	                  <td><i class="glyphicon glyphicon-map-marker"></i> Address</td>
										<td>
											Street: {{ employee.address.street }} <br/>
											Suite: {{ employee.address.suite }} <br/>
											City: {{ employee.address.city }} <br/>
											Zipcode: {{ employee.address.zipcode }} <br/>
											Latitute: {{ employee.address.geo.lat }} <br/>
											Longitude: {{ employee.address.geo.lng }} <br/>
										</td>
	                </tr>
	                <tr>
	                  <td><i class="glyphicon glyphicon-earphone"></i> Phone</td>
	                  <td>{{ employee.phone }}</td>
	                </tr>
	                <tr>
	                  <td><i class="glyphicon glyphicon-globe"></i> Webite</td>
	                  <td>{{ employee.website }}</td>
	                </tr>
	                <tr>
	                  <td><i class="glyphicon glyphicon-briefcase"></i> Company</td>
	                  <td>
											Name: {{ employee.company.name }}<br/>
											Catch Phrase: {{ employee.company.catchPhrase }}<br/>
											BS: {{ employee.company.bs }}
	                  </td>
	                </tr>
              	</tbody>
            	</table>
          	</div>
        	</div>
    	  </div>
    	</div>
		</div>
