<div class="row" >
  <div class="col-md-12">
    <button
      style="margin: 10px auto; display:block;"
      class="btn btn-success"
      (click)="onFetchEmployees()">
      {{ showEmployees === true ? "Show Customers" : "Hide Customers" }}
    </button>
  </div>
</div>
<div *ngIf="!showEmployees" class="row">
  <div class="col-md-12">
    <h3
      style="text-align: center;">
      <strong>Our Customers</strong>
    </h3>
    <app-employee
    *ngFor="let employee of employees | async"
    [employee] = "employee"
    ></app-employee>
  </div>
</div>
